$grey-light: #CCCCCC;
$blue: #9966FF;
$grey-dark: #666666;
$pink: #FFE2C9;

h1{
	font-size: 22px;
	padding: 10px 0;
}
.wrap-logo{
	display: inline-block;
	padding: 10px 0;
	text-align: center;
	width: 90%;
	b,img{
		display: inline-block;
		vertical-align: middle;
	}
	a.logo {
	    font-size: 20px;
	    margin-top: 15px;
	}
}
.top-menu{
	display: inline-block;
	position: absolute;
	right: 0;
}
.bottom-form{
	display: none;
}
@media screen and(max-width: 640px){
	.wrap-logo{
		width: 80%;
		b{
	    	display: none;
		}
	}
}
.main-chart{
	p{
		color: $blue;
		text-indent: 20px;
		padding: 15px 20px;
		line-height: 14px;
	}
	a.add{
		span{
			padding-left: 6px;
		}
	}
	a:hover{
		color: $grey-dark;
	}
	.btn a{
		color: #fff;
	}
}
.li-dashboard, span.dashboard{
	display: none;
}
p.error{
	color: crimson;
	padding: 5px 3px;
	position: absolute;
	bottom: -20px;
	li{
		font-size: 11px;
	}
}
.error-js{
	position: absolute;
	width: 100%;
	p.error{
		position: relative;
	}
}
input,
select,
textarea{
	&.error{
		border-color: crimson;
	}
}