$grey-light: #CCCCCC;
$blue: #9966FF;
$grey-dark: #666666;
$pink: #FFE2C9;
h1{
	font-size: 22px;
	padding: 10px 0;
}
form{
	font-size: 14px;
}
.wrap-logo{
	display: inline-block;
	padding: 10px 0;
	text-align: center;
	width: 90%;
	strong,img{
		display: inline-block;
		vertical-align: middle;
	}
	a.logo {
		font-size: 28px;
	    margin-top: 15px;
	}
	@media screen and(max-width: 640px){
		strong{
			display: none;
		}
	}
}
.top-menu{
	display: inline-block;
	position: absolute;
	right: 5px;
	top: 4px;
	min-width: 30%;
	text-align: right;
	p.username{
		margin-top: 4px;
		color: #fff;
	}
	@media screen and(max-width: 640px){
		p.username{
			display: none;
		}
	}
	i.fa{
		font-size: 21px;
		color: #fff;
	}
}
.bottom-form{
	display: none;
}
@media screen and(max-width: 640px){
	.wrap-logo{
		width: 80%;
		b{
	    	display: none;
		}
	}
}
.main-chart{
	p{
		color: $grey-dark;
		font-size: 13px;
		padding: 20px 0;
		max-width: 70%;
		margin: 0 auto;
		line-height: 22px;
	}
	a.add{
		span{
			padding-left: 6px;
		}
	}
	a:hover{
		color: $grey-dark;
	}
	.btn a{
		color: #fff;
	}
}
p.error{
	color: crimson;
	padding: 5px 3px;
	position: absolute;
	bottom: -20px;
	li{
		font-size: 11px;
	}
}
.error-js{
	position: absolute;
	width: 100%;
	left: 0;
	top: 10px;
	p.error{
		width: 100%;
		color: crimson;
		position: relative;
	}
}
input,
select,
textarea{
	&.error{
		border-color: crimson;
	}
}
#twitter-widget-0{
	width: 100%!important;
}
.timeline{
	max-width: 100%!important;
}
.timeline-header{
	display: none!important;
}
.loading{
	@include opacity(1);
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.6s ease-out 0s;
    transition: opacity 0.6s ease-out 0s;
	i{
		font-size: 50px;
		color: $grey-dark;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -25px 0 0 -25px;
	}
	&.on{
		@include opacity(1);
		z-index: 1;
		-webkit-transition: opacity 0.6s ease-out 0s;
    	transition: opacity 0.6s ease-out 0s;
	}
	&.off{
		@include opacity(0);
		z-index: 0;
		-webkit-transition: opacity 0.6s ease-out 0s;
    	transition: opacity 0.6s ease-out 0s;
	}
}