.dashboard{
	.wrap-logo{
		a.logo{
			color: $grey-light;
		}
	}
	.public-menu{
		display: none;
	}
	.dash-menu{
		display: block;
	}
	.main-chart{
		h1{
		  display: inline-block;
		  width: 80%;
		  vertical-align: middle;
		}
		.wrap-img{
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	span{
		&.li-dashboard{
			display: block;
		}
	}
	.wrap-submit{
		width: 100%;
		text-align: right;
	}
	.table{
		.fa{
			font-size: 14px;
		}
		thead span{
			font-size: 14px;
			padding-left: 6px;
		}
	}
	&.stats .table{
		margin: 50px 0;
	}
	&.questions{
		form{
			.form-group:nth-child(4n+1){
				background-color: $pink;
				padding: 13px 0 13px 13px;
				.control-label{
					font-weight: bold;
				}
			}
			.form-group:nth-child(4n+4){
				border-bottom: 2px solid $grey-light;
			}
		}
	}
	&.answer{
		.question{
			padding: 20px 15px;
  			background-color: $pink;
			border-top: 2px solid $grey-light;
			&:first-child{
				border: none;
			}
		}
		.answers{
			margin-top: 18px;
		}
		.switch{
			padding: 15px 0;
		}
	}
	&.form{
		p.bottom-form{
			display: block;
		}
		textarea#article_content{
			min-height: 230px;
		}
		img{
			max-width: 180px;
		}
	}
	table{
		thead{
			background: $grey-light;
			color: $grey-dark;
		}
		tr,th{
			border-color: $grey-light;
		}
	}
	p.message{
		padding: 15px 0;
		margin: 0;
		text-indent: 0;
	}
	.pagination{
		.first a,
		.last a,
		.previous a,
		.next a{
			font-size: 18px;
			margin: 0 4px;
		}
		.current, .page a{
			font-size: 16px;
			padding: 1px 7px;
			color: #fff;
		}
		.current{
			background-color: $grey-light;
		}
		.page {
			@include inlineblock(center);
			a{
				background-color: $blue;
			}
		}
	}
}
/*! jQuery UI - v1.11.4 - 2015-07-31
* http://jqueryui.com
* Includes: core.css, datepicker.css
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}
.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
	content: "";
	display: table;
	border-collapse: collapse;
}
.ui-helper-clearfix:after {
	clear: both;
}
.ui-helper-clearfix {
	min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
	z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-datepicker {
	background-color: #fff;
	border: 2px solid $pink;
	width: 17em;
	padding: 0;
	display: none;
	a.ui-state-default{
		color: $grey-dark;
	}
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background-color: $pink;
    color: $grey-dark;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 7px;
	width: 1.8em;
	height: 1.8em;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev {
	left: 4px;
}
.ui-datepicker .ui-datepicker-next {
	right: -12px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker-prev,
.ui-datepicker-next{
		position: absolute;
		font-size: 15px;
		color: $grey-dark;
		font-weight: bold;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
}
.ui-datepicker-prev:before{
	content: "\f053";
}
.ui-datepicker-next:before{
	content: "\f054";
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}
