.dashboard{
	.wrap-logo{
		a.logo{
			color: $grey-light;
		}
	}
	.public-menu{
		display: none;
	}
	.dash-menu{
		display: block;
	}
	.main-chart{
		h1{
		  display: inline-block;
		  width: 80%;
		  vertical-align: middle;
		}
		.wrap-img{
			img{
				display: block;
				width: 100%;
				height: auto;
			}
		}
	}
	span{
		&.li-dashboard{
			display: block;
		}
	}
	.wrap-submit{
		width: 100%;
		text-align: right;
	}
	.table{
		thead span{
			padding-left: 6px;
		}
	}
	&.qcm,
	&.article{
		.form-control#mcq_status,
		.form-control#article_status{
		}
	}
	&.stats .table{
		margin: 50px 0;
	}
	&.questions{
		form{
			.form-group:nth-child(4n+1){
				background-color: $pink;
				padding: 13px 0 13px 13px;
				.control-label{
					font-weight: bold;
				}
			}
			.form-group:nth-child(4n+4){
				border-bottom: 2px solid $grey-light;
			}
		}
	}
	&.answer{
		.question{
			padding: 20px 15px;
  			background-color: $pink;
			border-top: 2px solid $grey-light;
			&:first-child{
				border: none;
			}
		}
		.answers{
			margin-top: 18px;
		}
		.switch{
			padding: 15px 0;
		}
	}
	&.form{
		p.bottom-form{
			display: block;
		}
	}
	p.username{
		padding: 15px 5px;
	    margin-right: 15px;
		color: #fff;
	}
}