.public-window{
	.dash-menu{
		display: none;
	}
	.public-menu{
		display: block;
	}
	&.home{
		.main-chart h3{
			padding: 10px;
			text-transform: uppercase;
			font-size: 14px;
		}
		figcaption{
			display: inline-block;
			text-align: left;
			padding: 15px 5px 0 5px;
		}
		.infos{
			font-size: 13px;
			padding: 8px;
		}
		.comments{
			text-align: right;
			padding: 4px;
		}
		.wrap-list{
			font-size: 0;
			.article{
				figure{
					@include inlineblock(middle);
					width: 40%;
					a{
						display: block;
					}
					img{
						max-height: 150px;
					}
				}
				figure+div{
					@include inlineblock(middle);
					font-size: 14px;
					width: 59%;
				}
			}
		}
	}
	&.estate{
		#main-content{
			.wrap-img{
				max-width: 720px;
				margin: 0 auto;
				img{
					max-width: 720px;
					padding: 15px 20px;
				}
			}
		}
		.detail span{
			text-transform: italic;
		}
	}
	&.contact{
		.centered, .form-contact{
			@include inlineblock(middle);
		}
		div.centered{
			width: 40%;
			&.w100{
				width: 100%;
			}
		}
		.form-contact{
			width: 60%;
		}
		.loading{
			@include opacity(1);
	        -webkit-transition: opacity 0.6s ease-out 0s;
	        transition: opacity 0.6s ease-out 0s;
			i{
				font-size: 50px;
				color: $pink;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -25px 0 0 -25px;
			}
			&.on{
				@include opacity(1);
				-webkit-transition: opacity 0.6s ease-out 0s;
	        	transition: opacity 0.6s ease-out 0s;
			}
			&.off{
				@include opacity(0);
				-webkit-transition: opacity 0.6s ease-out 0s;
	        	transition: opacity 0.6s ease-out 0s;
			}
		}
	}
}
@media screen and(max-width: 768px){
	.public-window{
		&.contact{
			.centered, .form-contact{
				display: block;
				width: 100%;
			}
		}
	}
}