/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/composer.phar
/web/bundles/
/vendor
/bin
.idea
preprocess/node_modules
preprocess/bower_components
*.phar
.sass-cache