{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Article{% endblock %}
{% block class %}article public-window{% endblock %}
{% block body %}
	<div class="col-lg-12 text-center">
		<h1>{{ theArticle.title }}</h1>
		{% if theArticle.image != null %}
			<figure>
				<img class="img-responsive" src="{{ asset('bundles/splj/img/articles/'~ theArticle.image)}}" alt="">
			</figure>
		{% endif %}
	</div>
	<div class="col-lg-12">
		<p>{{ theArticle.content }}</p>
	</div>
{% endblock %}
	          	


