{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Contact{% endblock %}
{% block class %}public-window contact{% endblock %}
{% block body %}
	contact
{% endblock %}
{% block rightCol %}
	<h3>à lire aussi...</h3>
{% endblock %}
	          	


