{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Contact{% endblock %}
{% block class %}public-window contact{% endblock %}
{% block body %}
	<div class="centered">
		<p>Collège Saint Paul le Jeune</p><p>tel: 04 75 39 00 25</p>
		<p>Lycée Saint Paul le Jeune</p><p>tel: 04 75 39 80 14</p>
		<p>Adresse : 5, place de l'Eglise 07460 Saint Paul le Jeune</p>
		<address>contact@splj.com</address>
		<address>administration@splj.com</address>
	</div>
{% endblock %}
{% block rightCol %}
	<h3>à lire aussi...</h3>
{% endblock %}
	          	


