{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Establishment{% endblock %}
{% block class %}estate{% endblock %}
{% block body %}
	établissement
{% endblock %}
{% block rightCol %}
	<h3><a href="">à lire aussi...</a></h3>
{% endblock %}


