{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Établissement{% endblock %}
{% block class %}public-window estate{% endblock %}
{% block h1 %}notre collège - lycée{% endblock %}
{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quia mollitia quaerat id deleniti, labore officia! Esse atque unde, ipsa ex omnis, doloremque totam cupiditate a deserunt cumque officia dolores! ipsum dolor sit amet, consectetur adipisicing elit. Tempore, veritatis eligendi illum perferendis quam doloribus dolor? Facere libero dolore fugiat minus odio reprehenderit. Non nesciunt laboriosam voluptate quasi, odio nostrum. ipsum dolor sit amet, consectetur adipisicing elit. Iusto incidunt, saepe fugit suscipit vitae recusandae ipsa perferendis sunt rem explicabo quis repellendus excepturi a. Error deleniti esse enim minima debitis. </p>
	<img src="{{ asset('bundles/splj/img/college.jpg') }}">
{% endblock %}

