{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Home{% endblock %}
{% block class %}home{% endblock %}
{% block body %}
	<section class="wrapper site-min-height">
			<div class="row">
				<div class="col-lg-12">
					<p>Place your content here.</p>
				</div>
			</div>
	</section>
{% endblock %}
{% block rightCol %}
	<h3>à lire aussi...</h3>
{% endblock %}

