{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Home{% endblock %}
{% block class %}home{% endblock %}
{% block body %}
	<ul class="wrap-list">
		<li>
			<div class="col-lg-4 text-center">
				<figure>
					<a href="">
						<img src="{{ asset('bundles/splj/img/articles/thumb/th_01.jpg') }}" alt="">
					</a>
				</figure>
			</div>
			<div class="col-lg-8">
				<strong><a href="{{ url('splj.window.article')}}">Titre</a></strong>
				<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae ipsa atque assumenda animi porro corporis dicta aliquam voluptas.</figcaption>
			</div>
		</li>
		<li class="article">
			<div class="col-lg-4 text-center">
				<figure>
					<a href="">
						<img src="{{ asset('bundles/splj/img/articles/thumb/th_01.jpg') }}" alt="">
					</a>
				</figure>
			</div>
			<div class="col-lg-8">
				<strong><a href="">Titre</a></strong>
				<figcaption>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut quae ipsa atque assumenda animi porro corporis dicta aliquam voluptas.</figcaption>
			</div>
		</li>
	</ul>
{% endblock %}
{% block rightCol %}
	<h3>à lire aussi...</h3>
{% endblock %}
	          	


