<h3>A lire aussi</h3>
<ul class="archives">
{% for articleRandom in articleRandom %}
		<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-book"></i></span>
			</div>
			<div class="details">
          		<p><span>publié le </span><date>{{ articleRandom.date|date('d/m/Y') }}</date></p>
      		   <a href="#">{{ articleRandom.title }}</a>
          	</div>
		</div>
	</li>
{% endfor %}
</ul>
<h3>Fil twitter</h3>
<ul class="twitter">
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-twitter"></i></span>
			</div>
			<div class="details">
		  		<p>
		  		   <a href="#">#splj en force</a><br>
		  		</p>
		  	</div>
		</div>
	</li>
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-twitter"></i></span>
			</div>
			<div class="details">
		  		<p>
		  		   <a href="#">#splj en force</a><br>
		  		</p>
		  	</div>
		</div>
	</li>
</ul>

