<h3>A lire aussi</h3>
<ul class="archives">
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-book"></i></span>
			</div>
			<div class="details">
          		<p><span>publié le </span><date>25/05/2015</date></span>
          		   <a href="#">Tititititttre</a><p>short short short</p>
          		</p>
          	</div>
		</div>
	</li>
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-book"></i></span>
			</div>
			<div class="details">
          		<p><span>publié le </span><date>25/05/2015</date></span>
          		   <a href="#">Tititititttre</a><p>short short short</p>
          		</p>
          	</div>
		</div>
	</li>
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-book"></i></span>
			</div>
			<div class="details">
          		<p><span>publié le </span><date>25/05/2015</date></span>
          		   <a href="#">Tititititttre</a><p>short short short</p>
          		</p>
          	</div>
		</div>
	</li>
</ul>
<h3>Fil twitter</h3>
<ul class="twitter">
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-twitter"></i></span>
			</div>
			<div class="details">
		  		<p>
		  		   <a href="#">#splj en force</a><br>
		  		</p>
		  	</div>
		</div>
	</li>
	<li>
		<div class="desc">
			<div class="thumb">
				<span class="badge bg-theme"><i class="fa fa-twitter"></i></span>
			</div>
			<div class="details">
		  		<p>
		  		   <a href="#">#splj en force</a><br>
		  		</p>
		  	</div>
		</div>
	</li>
</ul>

