{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Les Questions{% endblock %}
{% block class %}dashboard form questions{% endblock %}
{% block h1 %} Question du QCM {{ mcqCurrent.title }} {% endblock %}
{% block body %}
	{{ form_start(form, { 'attr' : { 'class' : 'form-horizontal style-form', 'novalidate' : 'novalidate' } }) }}
			{# itère sur chaque question existante #}
	        {% for question in form.questions %}
				{% include ('SpljBundle:Dashteacher:question-model.html.twig') %}
				{{ form_widget(form._token) }}
	        {% endfor %}
	    <div class="wrap-submit">
	        <button type="submit" class="btn btn-theme">valider</button>
	    </div>
	{{ form_end(form, {'render_rest': false}) }}
{% endblock %}