{%extends "SpljBundle:Bloc:skeleton.html.twig"%}
{% block title %}Questions{% endblock %}
{% block class %}dashboard qcm questions{% endblock %}
{% block h1 %}Les questions du QCM{% endblock %}
{% block body %}
<form class="form-horizontal style-form" data-mcqId="4" method="POST" novalidate >
	{# itère sur chaque question existante #}
        {% for question in form.questions %}
			{% include ('SpljBundle:Dashteacher:question-model.html.twig') %}
        {% endfor %}
    <div class="wrap-submit">
        <div class="btn add"><i class="fa fa-plus-square"></i><span>question</span></div>
        <button type="submit" class="btn btn-theme">valider</button>
    </div>
</form>
{% endblock %}